body {
    background-image: url(../images/rick-and-morty-background.jpg);
    background-position: 50% 5%;
    background-size: auto;
    
}

header {
    color: blue;

}

.timer-style {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    text-align: center;
    color: red;
    margin: 0;
}

.card-img-top{
    max-height: 265px !important;
}

div.questions-card, .tally-gif{
    display: none;
}

div.card, .timer-style {
    max-width: 560px;
}

.choices:hover, .try-again:hover {
    color: white;
    background: #00a303;
}

.choices:active, .try-again:active {
    background: #75d52f;
}